includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 7

    excludePaths:
        - .phpstorm.meta.php
        - tests/
        - app/Filament/

    ignoreErrors:
        - '#PHPDoc tag#'
        - '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::nonQueued\(\)#'
        - '#Method App\\Domains\\Blog\\Queries\\GetPublishedPosts::handle\(\) return type with generic class Illuminate\\Pagination\\LengthAwarePaginator does not specify its types#'